{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="index, follow" />
<meta name="keywords" content="GoldenBraid, DNA Assembly, Plant Synhetic Biology, Multigene Engineering"/>
<title>{% block title %}{% endblock %}</title>
<link href={% static "style/style.css"%} rel="stylesheet" type="text/css"/>
{% block extra_js %}{% endblock %}
<script language="javascript">
function toggle() {
    var ele = document.getElementById("toggleText");
    var text = document.getElementById("displayText");
    if(ele.style.display == "block") {
            ele.style.display = "none";
        text.innerHTML = "+Add part";
    }
    else {
        ele.style.display = "block";
        text.innerHTML = "-Add part";
    }
}
</script>
</head>

<body>
<div id="container">

  <div id="header"><a href='/'><h1>HOME</h1></a>
  </div>

  <div id="menu">
    <ul>
            {% if '/' == current_path %}<li class="select">{% else %}<li>{% endif %}<a href='/'>HOME</a></li>
            {% if 'search/feature' in current_path %}<li class="select">{% else %}<li>{% endif %}<a href='/search/features'>SEARCH DB</a></li>
            {% if 'tools' in current_path %}<li class="select">{% else %}<li>{% endif %}<a href='/tools'>TOOLS</a></li>
            {% if 'documents' in current_path %}<li class="select">{% else %}<li>{% endif %}<a href='/documents'>TUTORIALS</a></li>
            {% if 'contact' in current_path %}<li class="select">{% else %}<li>{% endif %}<a href='/contact'>CONTACT</a></li>
        {% if not user.is_authenticated %}
           {% if '/login/' in current_path %}<li class="select">{% else %}<li>{% endif %}<a href='/accounts/login'>LOGIN</a></li>
        {% else %}
             {% if '/login/' in current_path %}<li class="select">{% else %}<li>{% endif %}<a href="/logout/?next=/">LOGOUT <span class="logout">({{user.username}})</span></a></li>
      {% endif %}
      </ul>
  </div>

    <div id='main'>
    {% block content %}{% endblock %}
    </div>

<div class="clearfooter"></div>
</div>
<div style="clear:both;">&nbsp;</div>
<div id="footer">
<div class="footer_socialnet">
<ul>
  <li>Fruit Genomics and Biotechnology Lab: <a href="www.ibmcp.upv.es/FGB" title="www.ibmcp.upv.es/FGB" target="_new">www.ibmcp.upv.es/FGB</a>
  </li>
  <li>
    Website Administrator: <a href="mailto:vicgarb4@upvnet.upv.es" title="vicgarb4@upvnet.upv.es">vicgarb4@upvnet.upv.es</a>
  </li>
  <li><a href='/disclaimer'>Disclaimer</a></li>
</ul>
</div>
</div>


</body>
</html>

