{% extends "base.html" %}

{% block header %}  <META HTTP-EQUIV="refresh" CONTENT="{{ wait }}">  {% endblock header %}

{% block title %}Blast Result {%endblock title%}

{% block content %}
{% load gb_genome_domestication_extras %}
{% if blast %}
<div class='blast'>
    <h1>Blast result</h1>
    <h2>Database: {{ blast.database }}</h2>
    <p></p>

    {% if blast.query_url %}
      <p>Query:
  {% if blast.query_url %}
    <a href='{{ blast.query_url }}' target="_blank">{{ blast.query }}</a>
        {% else %}
    {{blast.query}}
        {% endif%}
    </p>
    {% endif %}

    <h2>Descriptions</h2>
    {% if blast.descriptions %}
        <table>
<thead>
        <tr><th>Subject</th>
        	<th>Score</th>
        	<th>evalue</th>
        	<th>Num of restriction sites</th>
        	<th>Species</th>
        </tr></thead><tbody>
        {% for des in blast.descriptions %}
            <tr>
                <td class="left">
                {% if des.subject.url %}
                  <a href='{{ des.subject.url }}'target="_blank">{{ des.subject.name }}</a>
                {% else %}
                	{{ des.subject.desc }}
                  	{{ des.subject.name }}
                {% endif %}
                &nbsp;{{ des.subject.description}}
                </td>
                <td>{{ des.score }}</td>
                <td><a href = #{{ des.subject.name }}>{{ des.evalue }}</a></td>
                <td>{{ des.subject.name|rec_sites}}</td>
                <td class="left">{{ des.subject.name|species}}</td>
            </tr>
        {% endfor %}
</tbody>
        </table>
    {% else %}
        <p>No hits found</p>
    {% endif %}
    {% if blast.alignments %}
        <h2>Alignments</h2>
      {% for ali in blast.alignments %}
        {% if ali.subject.url %}
      <pre>><a name='{{ ali.subject.name }}' href='{{ ali.subject.url }}' target="_blank">{{ ali.subject.name }}</a> {{ ali.subject.description }}
    {% else %}
      <pre>>{{ ali.subject.name }} {{ ali.subject.description }}

    {% endif %}
        {{ ali.alignment }}
        </pre>
      {% endfor %}
    {% endif %}
</div>
{% else %}
        <h3>The page will be reloaded in {{ wait }} seconds</h3>
{% endif %}
{% endblock content%}
