{% extends "base.html" %}
{% block title %}CDS {{feature.name}} {% endblock title %}
{% block content %}
{% load goldenbraid_extras %}
{% if not feature %}
   <h1> This feature does not exist</h1>
{% else %}
  <p><span class='key'>Accession:</span> <span class='value'>{{ feature.uniquename }}</span></p>
  <p><span class='key'>Name:</span> <span class='value'>{{ feature.name }}</span></p>
  <p><span class='key'>Description:</span> <span class='value'>{{ feature.description }}</span></p>
  <p><span class='key'>Species:</span> <span class='value'>{{ feature.species|capfirst|replaceunderscore }}</span></p>
  <div>
  <h6> This CDS in other databases:</h6>
  {% for  dbxref in feature.secondary_dbxrefs %}
  		<p><span>In {{ dbxref.db.name }} is {{ dbxref.accession|link_if_url:dbxref }}</span>
  {% endfor %}
  </div>
{% endif %}
 <h6> Domesticate your sequence:</h6>
<form action='/do/domestication/' method='POST'>{% csrf_token %}
    <INPUT type="hidden" name="residues" value="{{ feature.residues }}">
    <INPUT type="hidden" name="category" value="CDS (B3-B4-B5)">
    <INPUT type="hidden" name="seq_name" value="{{ feature.uniquename }}">
    <INPUT type="hidden" name="enzymes" value="BsmBI">
    <INPUT type="hidden" name="enzymes" value="BsaI">
    <p>You can domesticate the secuence with the GB domesticator <INPUT type="submit" value="Domesticate"></p>
</form>

{% endblock content %}
