{% extends "base.html" %}
{% block title %}Domestication formulary {% endblock title %}
{% block content %}
<div class='tools'>
{% if kind == 'domestication'%}
<p>Go to: <a href="/ext_tools/blastplus/run/">Domestication - Phylogeny Search</a> / <a href="/do/synthesis/">Domestication - Synthetic Strategy</a></p>
	<h1>GB Domesticator</h1>
	<p><span class='tools'>The first step in the GoldenBraid assembly strategy is to adapt your DNA building block to the GB grammar and to remove  the internal restriction sites for the enzymes used in GoldenBraid.</span></p>
	<p><span class='tools'>This process is referred to as domestication and is computer assisted by the GB Domesticator software tool. Here you can domesticate your  DNA sequence to convert it into a GBpart/superpart. For this,  you can either select one of the standard GBpart categories from the dropdown menu (e.g. A1-A2-A3-B1-B2 PRO+U; B5 CT) or you can introduce the prefix and suffix of your choice (4 nts barcodes).</span></p>
{% else%}
<p>Go to: <a href="/do/domestication/">GB Domesticator</a> / <a href="/ext_tools/blastplus/run/">Domestication - Phylogeny Search</a></p>
	<h1>Domestication - Synthetic Strategy</h1>
	<p><span class='tools'>The Synthetic Strategy generates a domesticated sequence for gene synthesis. By synthesizing your sequence, you can skip the mutagenesis PCR step and go directly to the BsmBI restriction ligation reaction that brings together the part and the pUPD vector.</span></p>
{% endif %}
</div>
{% load goldenbraid_extras %}
<form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
{% if form.residues.errors %}
	{{form.residues.errors}}
{% else %}
<fieldset>
<legend>Domestication</legend>
	<ul>
		<li>
	        {{ form.category.errors }}<label for="name">Choose a category to domesticate to:</label>{{ form.category }}<a href='/gbclasses'  target="blank"><span class='gbdom'>What's this?</span></a>
	  	</li>
		<li>
	        {{ form.seq.errors }}<label for="name">Add a genbank or a fasta file:</label>{{ form.seq }}
	    </li>
		<li>
	        {{ form.prefix.errors }}<label for="name">Custom prefix:</label>{{ form.prefix }}
	    </li>
		<li>
	        {{ form.suffix.errors }}<label for="name">Custom suffix:</label>{{ form.suffix }}
	    </li>
	    <li>
            {{ form.category.errors }}<label for="name">{{ form.with_intron.label}}:</label>{{ form.with_intron }}
        </li>
	</ul>
</fieldset>
	<input type="submit" value="Submit" />
{% endif %}
</form>
{% endblock content %}
