<fieldset>
<legend> Excel File</legend>
<p>You can upload your experimental data using one of the available excel templates: <a href="/files/excel_templates/columns.xlsx" target="blank"><img src="/static/style/images/column.png" alt="Column Plot Template" style="margin: 0 0 -4px 4px;"></a>
<a href="/files/excel_templates/scatter.xlsx" target="blank"><img src="/static/style/images/scatter.png" alt="Scatter Plot Template" style="margin: 0 0 -4px 4px;"></a></p><br/>
<table id='id_generic_file_table' border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        
        <td>Associated excel file: {{excel_formset.forms.0.description }}{{excel_formset.forms.0.errors}}</td>
        <td>{{excel_formset.forms.0.excel }}{{excel_formset.forms.0.errors}}</td>
      </tr>
    </tbody>
</table>
</fieldset>
{{ excel_formset.management_form }}