{% extends "base.html" %}
{% block title %}Feature {{feature.name}} {% endblock title %}
{% block content %}
{% load goldenbraid_extras %}

<div id='main'>
{% if not feature %}
   <h1> This feature does not exist</h1>
{% else %}
<h1>{{ feature.type.name|capfirst|replaceunderscore }} {{ feature.uniquename }}</h1>
<p><span class='key'>Accession:</span> <span class='value'>{{ feature.uniquename }}</span></p>
<p><span class='key'>Name:</span> <span class='value'>{{ feature.name }}</span></p>
 {% if feature.residues %}
  {% include "feature_sequence.html" %}
 {% endif %}

   {% if feature.props %}
   {% for key, values in feature.props.items %}
    {% if key != 'description'%}
       {% if values|length > 1 %}
           <p><span class='key'>{{ key|capfirst|replaceunderscore}}{{values|pluralize }}:</span></p>
           <ul class='property'>
           {% for value in values %}
     <li><p><span class='key'>{{ value|capfirst|replaceunderscore|first_item:':'}}:</span> <span class='value'>{{value|not_first_item:':'}}</span></p></li>
           {% endfor %}
           </ul>
       {% else %}
           <p><span class='key'>{{ key|capfirst|replaceunderscore }}:</span> <span class='value'>{{ values|first}}</span></p>

       {% endif %}
    {% endif %}
  {% endfor %}
  {% endif %}
{% endif %}
</div>
{% endblock content %}
