{% extends "base.html" %}
{% block title %}Feature {{feature.name}} {% endblock title %}
{% block content %}
{% load goldenbraid_extras %}
<p>{{ info }}</p>
{% if not feature %}
   <h1> This feature does not exist</h1>
{% else %}
<div id="featwrap">
<div id='feathead'>
 <div id='ID'>{{ feature.uniquename }}</div>
 <div id='name'>{{ feature.name }} ({{ feature.gb_category_name|capfirst|replaceunderscore }})</div>
</div>
{% if feature.sbol_images %}
  <div id='sbol'>
        <ul id='sbol_images'>
        {% for image in feature.sbol_images%}
        <li><img src={{STATIC_URL}}/sbol_images/{{image}} alt=feature.gb_category ></li>
        {% endfor %}
        </ul>
  </div>
{% endif %}
<div id='featuregeneral'>
{% if feature.description %}
<div id='description'><table class="featdes"><tr><th>Description:</th><td>{{ feature.description }}</td></tr></table></div>
     {% endif %}
 <div class='col_left'>
   <table class='featuretable'>
    <thead><tr><th colspan='2'>General Information</th></tr>
    </thead>
    <tbody>
     <tr><th>ID</th><td>{{ feature.uniquename }}</td></tr>
     <tr><th>Name</th><td>{{ feature.name }}</td></tr>
     <tr><th>Function</th><td>{{ feature.gb_category_name|capfirst|replaceunderscore }}</td></tr>
     {% if feature.gb_category %}
     <tr><th>Category</th><td>{{ feature.gb_category_sections }}</td></tr>
     {% endif %}
     {% if feature.level %}
     <tr><th>Level</th><td>{{ feature.level }}</td></tr>
     {% endif %}
     {% if feature.vector%}
     <tr><th>Vector</th><td>{{ feature.vector.name }}</td></tr>
     {% endif %}
     <tr><th>Prefix</th><td>{{ feature.prefix }}</td></tr>
     <tr><th>Suffix</th><td>{{ feature.suffix }}</td></tr>
     {% if feature.enzyme_in %}
     <tr><th>Enzyme in</th><td>{{ feature.enzyme_in|first }}</td></tr>
     {% endif %}
     {% if feature.enzyme_out %}
     <tr><th>Enzyme out</th><td>{{ feature.enzyme_out|first }}</td></tr>
     {% endif %}
     {% if feature.resistance %}
     <tr><th>Resistance</th><td>{{ feature.resistance|first }}</td></tr>
     {% endif %}
     <tr><th>Assembly Standard</th><td>{{ feature.gb_version }}</td></tr>
     {% if not feature.moclo_compatible == 'not_evaluable' %}
     <tr><th>MoClo Compatible</th><td>{{ feature.moclo_compatible }}</td></tr>
     {% endif %}
     <tr><th>Owner</th><td> <div id='owner'><a href='/user/{{feature.owner}}/' >{{feature.owner}}</a></div></td></tr>
     <tr><th>Public</th><td>{{ feature.is_public }}</td></tr>
     <tr><th>Genbank_file</th><td><a href="{{feature.genbank_file.url}}">{{ feature.uniquename }}</a></td></tr>
   </tbody>
  </table>
 </div>
 <div class="col_right">
  {% if feature.children%}
  {% with features=feature.children %}
   <table class='componenttable'>
    <thead><tr><th colspan='3'>Component Elements</th></tr>
    </thead>
    <tbody>
    <tr><th>ID</th>
    <th>Name</th>
    <th>Type</th>
    </tr>
    {% for feature in features %}
    <tr>
    <td>{{ feature.uniquename|link_if_url:feature }}</td>
    <td>{{ feature.name }}</td>
    <td>{{ feature.type.name }}</td>
    </tr>
    {% endfor %}
    </tbody>
   </table>
  {% endwith %}
  {%endif%}
{% if feature.ordered_experiments %}
   <table class='componenttable'>
    <thead><tr><th colspan='2'>Experiments</th></tr>
    </thead>
    <tbody>
    <tr><th>ID</th>
    <th>Type</th>
    </tr>
  {% for experiment in feature.ordered_experiments %}
          <tr>
           <td>{{ experiment.uniquename|link_if_url:experiment }}</td>
            <td>{{ experiment.type.name }}</td>
          </tr>
          {% endfor %}
    </tbody>
   </table>
{%endif%}
</div>
<div style='clear:both;'>&nbsp;</div>

</div>
<div id="expimage">
   {% if feature.experiment_images %}
         <h6>Experimental Images</h6>
          {% for url, alt in feature.experiment_images %}
        <img class='resize' src={{url}} alt={{alt}}>
        {% endfor %}
   {% endif %}
</div>
<div id='space'> </div>
</div>
   {% if feature.owner == user or user.is_staff %}
      <h2> Feature Management Tools (only if permission granted)</h2>
   {% endif %}
   {% if feature.owner == user or user.is_staff %}
        {#<p><a href= "{%url 'add_experiment' %}?feature={{feature}}">Add Experiment</a></p>#}
        <form action='' method='POST' onsubmit="return confirm('Are you sure you want to delete the feature?')">{% csrf_token %}
            <INPUT type="hidden" name="feature" value="{{ feature.uniquename }}">
            <INPUT type="hidden" name="action" value="delete">
            <p>You can delete this part from the database, this step can not be undone.
            <INPUT type="submit" value="Delete"></p>
        </form>
   {% endif %}
   {% if user.is_staff%}
        <form action='' method='POST'>{% csrf_token %}
            <INPUT type="hidden" name="feature" value="{{ feature.uniquename }}">
            {% if feature.is_public %}
                <INPUT type="hidden" name="action" value="make_private">
                <p>Make the part private only for the owner
              <INPUT type="submit" value="Make_private"></p>
            {% else %}
                <INPUT type="hidden" name="action" value="make_public">
              <p>Make the part public for everyone
              <INPUT type="submit" value="Make_public"></p>
           {% endif %}
        </form>
   {% endif %}

{% endif %}
<div id='space'> </div>
{% endblock content %}
