{% extends "base.html" %}
{% block title %}Multipartite free formulary {% endblock title %}
{% block content %}
<div class='tools'>
<h2>GB TU Free Assembler</h2>
<p><span class='tools'>The GB TU Free Assembler allows you to construct new TUs with user defined structures that are not included in the GB TU Assembler tool.</span></p>
<p><span class='tools'>To freely assemble a TU, follow the next steps:</span></p>
<ul><li>
1. Select your destination vector of choice.</li>
<li>2. Select the GBpart or GBsuperpart to be cloned in first position.</li>
<li>3. Next you will be presented with all GBparts that can be cloned next to your GBpart in position 1.</li>
<li>4. You can continue adding parts until you select a 'closing GBpart' that contains CGCT barcode in its 3' end.</li> 
</ul>
<p><span class='warning'>Warning: We advice you not to use pCambia (pDGB2) omega vectors in multipartite assemblies since they are not domesticated for BtgZI.</span></p>
</div>
{% load goldenbraid_extras %}
<form action="{{form_num}}" method="post">{% csrf_token %}
{{ form.as_p}}
<input type="submit" value="Submit" />
</form>

{% endblock content %}
