{% extends "base.html" %}
{% block title %}Feature {{feature.name}} {% endblock title %}
{% block content %}
{% load goldenbraid_extras %}

<div id='main'>
<ul>
    <li><a href='/do/multipartite/basic'>Basic</a></li>
    <li><a href='/do/multipartite/secreted'>Secreted</a></li>
    <li><a href='/do/multipartite/ct-fusion'>CT Fusion</a></li>
    <li><a href='/do/multipartite/nt-fusion'>NT Fusion</a></li>
    <li><a href='/do/multipartite/nt_ct_fusion'>NT & CT Fusion</a></li>
    <li><a href='/do/multipartite/operated_pr'>Operated cr</a></li>
    <li><a href='/do/multipartite/operated_pr2'>Operated pr</a></li>
    <li><a href='/do/multipartite/protein_interatcion'>Protein interaction</a></li>
    <li><a href='/do/multipartite/amirna'>amiRNA</a></li>
    <li><a href='/do/multipartite/hprna'>hpRNA</a></li>
    <li><a href='/do/multipartite/tasirna'>tasiRNA</a></li>

</ul>
</div>
{% endblock content %}
