{% extends "base.html" %}
{% block title %}Multipartite formulary {% endblock title %}
{% block content %}
<div class='tools'>
<h1>{{ title }}</h1>
<p><span class='tools'>Note: If you are planning to use this TU for a further GB Binary Assembly, you should be careful with the choice of the vector. The compatible vector pairs are: alpha1-alpha2, omega1-omega2.</span></p>
<p><span class='warning'>Warning: We advice you not to use pCambia (pDGB3) omega vectors in multipartite assemblies since they are not domesticated for BtgZI.</span></p>
</div>
{% load goldenbraid_extras %}
<form action="#" method="post">{% csrf_token %}
<fieldset>
<legend>Select your GBparts</legend>
{{ form.as_p }}
</fieldset>
<input type="submit" value="Submit" />
</form>
{% endblock content %}
