{% extends "base.html" %}
{% load goldenbraid_extras %}
{% load render_table from django_tables2 %}
{% block title %}Feature search {% endblock title %}
{% block content %}
{% if not features and not search_criteria %}
<h1>Search GB Elements<img src='{{STATIC_URL}}style/images/lupa.png' alt="search" style="margin:0 0 -10px 4px;"/></h1>
<div class='tools'>
<ul class="search">
<li>Use the first option to search for GB elements with a GoldenBraid ID_number/name/description containing what you typed in.</li>
<li>You can use the second option to limit your search results to a specific GB category. In the drop-down menu you will see a list of the different categories that make up the GB collection.</li>
<li>To get a list of all the existing elements leave all fields empty.</li>
</ul>
</div>
{% endif %}
{% if search_criteria and not features%}
  <p>No features found</p>
{% endif %}
{% if features %}
  <p> Features found: {{features.data|length}}   </p>

  {% render_table features%}
  {% url 'search_features_view' as base_url %}
    {% load urlbuilder %} 
    <p><a href='{% build_url base_url search_criteria download_search=True %}' download>Download search result</a>.</p>
{% else %}

  <form action="{% url 'search_features' %}" method="post">{% csrf_token %}
  <fieldset>
  <legend>Search criteria</legend>
      {{ form.as_p }}
  </fieldset>
      <input type="submit" value="Search" />
    </form>
    {{ form.kind.errors }}
{% endif %}

{% endblock content %}
