{% extends "base.html" %}
{% load goldenbraid_extras %}
{% block title %}Feature search {% endblock title %}
{% block content %}
{% if not search_criteria %}
<div class='tools'>
<h2>Search Database</h2>
<p><span class='tools'>The 'Search DB' is a tool for searching GB2.0 elements in GoldenBraid database.</span></p>
<p><span class='tools'>Use the first option for searching the database for GB2.0 elements with a GoldenBraid ID_number/name/description containing what you typed in.</span></p>
<p><span class='tools'>You can use the second option for limiting your search results to a type of GB2.0 element. In the drop-down menu you will see a list of the common elements that make up the GB collection. </span></p> 
</div>
{% endif %}
{% if search_criteria and not features_page.paginator.count %}
  <p>No features found</p>
{% endif %}
{% if features_page.object_list %}
  <p>
  {% if 'kind' in search_criteria %}
  {{ features_page.object_list.0.type.name|replaceunderscore|capfirst }}{{ features_page.paginator.count|pluralize }} found: {{ features_page.paginator.count }} </p>
  {% else %}
  Features found: {{ features_page.paginator.count }} </p>
  {% endif%}

  {% with features=features_page.object_list %}
    {% include "feature_table.html" %}
  {% endwith %}
  {% with search_criteria=search_criteria page=features_page %}
    {% include "pagination.html" %}
  {% endwith %}

  {% url search_features_view as base_url %}
    {% load urlbuilder %}
    <p><a href='{% build_url base_url search_criteria download_search=True %}'>Download search result</a>.</p>
{% else %}

<form action="{% url search_features %}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Search" />
  </form>
  {{ form.kind.errors }}

{% endif %}
{% endblock content %}
